# Compiled files
*.pcm
*.d
*.so
*.rootmap

# General ignore patterns
*~
*.swp
*.bak
*.tmp

#out file
*.root
!qa_out_xexe.root

#test files
test*

#png files
*.png

#directories
/out/
/build/
/slurm/*
/lambda_analysis/*
.nfs*
